@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
body,
html {
  background: white;
  padding: 0px;
  margin: 0px;
}
nav {
  position: fixed;
  background-color: white;
  color: #6c6c6c;
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 0px;
}
nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 30px 0 0;
}
nav a {
  color: #6c6c6c;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
nav a:hover {
  color: #5b6ceb;
  text-decoration: underline;
}
.logo {
  margin: 0 150px 0 150px;
}
.slider {
  max-width: 1917px;
  height: 600px;
  color: white;
  background: url(../img/slider-bg.gif);
  background-size: cover;
  text-align: center;
}
.slider__send-form {
  width: 300px;
  height: 390px;
  border-radius: 5%;
  background-color: white;
  display: inline-block;
  margin: 100px 85px 0 0;
  text-align: left;
}
.slider__send-form .slider__send-form__big-text {
  color: #5b6ceb;
  font-family: 'Open Sans';
  margin: 40px 0 0 30px;
  display: inline-block;
  font-size: 20pt;
  font-weight: bold;
}
.slider__send-form .slider__send-form__big-text .slider__send-form__input {
  background-color: #6c6c6c;
  margin: 40px 0 0 30px;
}
